node_modules
**/node_modules
dist
coverage
.nx
.git
.github
docs
.env
.env.*
!.env.docker.example
!.env.example
apps/**/.next
apps/**/.expo
apps/**/.expo-shared
apps/mobile/android
apps/mobile/ios
apps/mobile/web-build
apps/web/.next
.next
*.log
.DS_Store
